# Fichiers générés par Pytho
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.ruff_cache/
.DS_Store

# Environnements virtuels
.venv

# Répertoire des résultats, conservé vide
resultats/*
!resultats/.gitkeep
